# Default ignored files
/../../C.O.Y.A./.idea/shelf/
/../../C.O.Y.A./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../C.O.Y.A./.idea/httpRequests/
# Datasource local storage ignored files
/../../C.O.Y.A./.idea/dataSources/
/../../C.O.Y.A./.idea/dataSources.local.xml
